/* Resetting Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1d1d1d;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;   
}

/* Particles Container */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1D1D1D center/cover no-repeat;
}

/* Global Text Styling */
p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #e0e0e0;
    line-height: 1.6;
    margin-bottom: 15px;
}
h1 { font-size: 40px; font-weight: bold; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }
h4 { font-size: 14px; color: #a6a6a6; }
p { font-size: 16px; }

a {
    color: #00AAFF; /* Default color */
    text-decoration: none;
    position: relative;
}


.fas.fa-arrow-right {
    display: inline-block;
    transition: transform 0.3s ease;
}

a:hover .fas.fa-arrow-right {
    transform: translateX(5px);
}

/* Parent Container */
.parent-container {
    display: flex;
    gap: 20px;
    width: 80%;
    max-width: 100%;
    border-radius: 20px;
    margin: 90px 20px 10px 10px;
    align-items: flex-start;    
}

/* Profile Section */
.profile {
    flex: 1;
    max-width: 300px;
    background-color: #0d0d0d;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    position: sticky;
}
.profile img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}


/* Contact Info */
.contact-info {
    margin-top: 20px;
    background-color: #1D1D1D;
    padding: 20px;
    border-radius: 16px;
    font-size: 12px;
}
.contact-info div {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.contact-info i {
    margin-right: 10px;
    color: #00aaff;

}

/* dButton */
.download-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #00aaff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 14px;
}
.download-btn:hover {
    background-color: #0088cc;
}

/* Parent Tab Container */
.parent-tab-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 2;
    align-items: flex-start;
}
/* Tab Content Section */
.tab-content {
    flex: 2;
    background-color: #0d0d0d;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
    height: fit-content;
    z-index: 1;
}
.tab-content.active {
    display: block;
}

/* Tab Menu */
.tab-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 200px;
    padding: 20px;
    background-color: #0d0d0d;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    order: 1;
    position: sticky;
    top: 0;
    z-index: 2;
}
.tab-menu a {
    padding: 15px;
    text-align: center;
    background-color: #1d1d1d;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}
.tab-menu a.active {
    background-color: #00aaff;
}


.skills-section {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin-top: 20px; 
}

/* About */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service {
    text-align: left;
    border: solid 1px #353535;
    border-radius: 16px;
    padding: 20px;
}

.service i {
    font-size: 24px;
    color: #00aaff;
    margin-bottom: 10px;
}

/* Resume */
.resume-container {
    max-width: 100%;
    margin: 0 auto;
}

.resume-sections {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
}

.resume-item {
    margin-bottom: 15px;
    border: solid 1px #353535;
    border-radius: 16px;
    padding: 20px;
}

.skills-section {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin-top: 0px; 
}


/* Work-slider */
.work-slider {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    
}

.slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prev-btn,
.next-btn {
    padding: 10px;
    background-color: #1D1D1D; 
    border: none; 
    color: #e0e0e0;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    border-radius: 5px; 
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #333333;
}

.slides {
    display: flex;
    width: 100%;
}

.project-slide {
    display: none;
}

.project-slide.active {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: none;
    flex-wrap: wrap;
}

.project-info {
    text-align: left;
}

.project-image {
    width: 300px;
    height: 500px; 
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: 4px solid #1D1D1D;
}

.project-image img {
    width: 100%; 
    height: auto; 
    transition: transform 2.5s ease;
    object-fit: cover;
    display: block;
}

.project-image:hover img {
    transform: translateY(-30%);
}

/* Form Styles */
#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    color: #fff; 
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-bottom-color: #007bff;
    background-color: transparent;
    color: #fff; 
}

textarea {
    resize: none;
    height: 80px;
    color: #fff; 
    font-family: 'Poppins', sans-serif 
}

/* Button Styles */
button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #00aaff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0088cc;
}



@media (max-width: 867px) { 
    .parent-container{
        flex-direction: column; 
        max-width: 92%;
    }
    .parent-tab-container{
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }
    .tab-menu {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        padding: 5px;
        max-width: 100%;
        font-size: 12px;
   
        
    }

    .tab-content {
        order: 2;
        margin-top: -12px;
        padding: 30px;
    }
    .tab-menu a {
        padding: 10px;

    }

}     



@media (max-width: 1280px) {
    .parent-container {
        width: 95%;
    }

    .parent-tab-container{
        flex-direction: column;
        align-items: flex-start;
        
    }
    
    .tab-menu {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        padding: 10px;
        max-width: 100%;
        font-size: 12px;
    }
    .tab-content {
        order: 2;
        margin-top: -12px;
        width: 100%;
    }
    .project-image {
        margin-top: 0px;
      
    
    }


}

input:-moz-autofill {
    background-color: transparent; 
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px transparent inset;
    box-shadow: 0 0 0 30px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
